/*
 * style.css
 */
 * {
    background-color: #18618A;
 }
.container, .container-fluid {
 padding-right: 15px;
 padding-left: 15px;
}
.row {
 margin-bottom: 15px;
}
[class*="col-"], header, nav, aside, section, div[role="main"] {
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
}
div[role="main"], nav, aside {
 height: auto;
}
img:not(#first) {
  max-height: 200px;
  padding: 10px 10px;
}
table {
  margin-top: 80px;
}
