/*
 * style.css
 */
 * {
    background-color: #18618A;
 }
.container, .container-fluid {
 padding-right: 10px;
 padding-left: 10px;
}
.row {
 margin-bottom: 15px;
}
[class*="col-"], header, nav, aside, section, div[role="main"] {
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;
}
div[role="main"], nav, aside {
 height: auto;
}
#first {
  max-height: 450px;
}
img:not(#first) {
  max-height: 150px;
  padding: 10px 10px;
}
table {
  margin-top: 80px;
}
iframe {
  height: 120px;
  width: 80%;
}
img#botao {
  max-height: 130px;
  border-radius: 18px;
  margin: auto;
}
