#userpic {
  border-radius: 100%;
  max-width:200px;
  max-height:200px;
}

#userme {
  position: relative;
  left: 42%;
}

#userb {
  position: relative;
  top: 10px;
  left: 35px;
}

#barraprogresso {
  position: relative;
  top: 150px;
}
